> ## **Product Rating Data Scrapping Script**
By: Yashshree Baviskar
Batch : 25

# `RATINGS PREDICTION`

We have a client who has a website where people write different reviews for technical products. 
Now they are adding a new feature to their website i.e. The reviewer will have to add stars(rating) 
as well with the review. The rating is out 5 stars and it only has 5 options available 1 star, 2 stars, 
3 stars, 4 stars, 5 stars. Now they want to predict ratings for the reviews which were written in the 
past and they don‚Äôt have a rating. So, we have to build an application which can predict the rating 
by seeing the review.

# `Data Collection Phase:` 
You have to scrape at least 20000 rows of data. You can scrape more data as well, it‚Äôs up to you. 
more the data better the model.

In this section you need to scrape the reviews of different laptops, Phones, Headphones, smart 
watches, Professional Cameras, Printers, Monitors, Home theater, Router from different ecommerce websites.
Basically, we need these columns
1) reviews of the product.
2) rating of the product.
You can fetch other data as well, if you think data can be useful or can help in the project. It 
completely depends on your imagination or assumption.

In [1]:
## importing the libraries:
import selenium
from selenium import webdriver
import pandas as pd
import numpy as np
import time

import re

## importing require exceptions:-
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException,WebDriverException 
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.action_chains import ActionChains

import warnings
warnings.filterwarnings('ignore')

In [174]:
driver=webdriver.Chrome('chromedriver.exe')
driver

# `FlipKart`

In [108]:
## fetching the websites
driver.get("https://www.flipkart.com/")
time.sleep(2)

#clicking on the pop-up Add's cancel button:- 
driver.find_element_by_xpath("//div[@class='_2QfC02']/button").click()

Item_List=['laptops','Smartphones','smart watches' ,'Computer moniters', 
                 'Digital Watches','Cameras','Trimmers','Keyboards']

In [109]:
reviews=[]
full_reviews=[]
ratings=[]

In [119]:
#product_urls=[]
for i in Item_List:
    # Find the search bar
    search_button = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
    search_button.clear()
    search_button.send_keys(i)
     Clicking on the search button
    driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()
    time.sleep(3)
    
    ## we will scrap atleast 2 pages product of each items
    page_no_url = []
    tag= driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")
    for i in tag:
        page_no_url.append(i.get_attribute('href'))
    for i in page_no_url[0:3]:
        driver.get(i)
        time.sleep(3)
        
        ## now appending all products urls from page 1 and page 2:
        new_tag = driver.find_elements_by_xpath("//a[@class='_1fQZEK']")
        for i in new_tag:
            product_urls.append(i.get_attribute('href'))
print(len(product_urls))

#### Scapping all the reviews of every product:

In [118]:
## iterating all products urls one by one:
for i in product_urls[:3]:
    driver.get(i)
    time.sleep(2)
    for _ in range(2):
        ## moving cursor deep down on the page
        driver.execute_script("window.scrollBy(0,6000)")
        time.sleep(1)
        
    # Clicking on "see all the reviews" button:
    try:
        tag=driver.find_element_by_xpath("//div[@class='_2c2kV-']/following::a")
        url = tag.get_attribute('href')
        #fetching the url
        driver.get(url)
        time.sleep(1)
    except NoSuchElementException:
        pass
    try:
        tag=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
        for i in tag:
            full_reviews.append(i.text)
    except NoSuchElementException:
        full_reviews.append('-')
    try:
        tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
        for i in tag:
            reviews.append(i.text)
    except NoSuchElementException:
        reviews.append('-')
    try:
        tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']/../div")
        for i in tag:
            ratings.append(i.text)
    except NoSuchElementException:
        ratings.append('-')
               
    try:
        no_of_pages=driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")
        ListOfNP=[]
        for i in no_of_page:
            ListOfNP.append(i.get_attribute('href'))
        for i in ListOfNP[0:15]:
            driver.get(i)
            time.sleep(1)
            try:
                tag=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
                for i in tag:
                    full_reviews.append(i.text)
            except NoSuchElementException:
                full_reviews.append('-')
            try:
                tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
                for i in tag:
                    reviews.append(i.text)
            except NoSuchElementException:
                reviews.append('-')
            try:
                tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']/../div")
                for i in tag:
                    ratings.append(i.text)
            except NoSuchElementException:
                ratings.append('-')    
    except: continue
len(ratings), len(reviews), len(full_reviews)

## Creating A DATAFRAME

In [27]:
df=pd.DataFrame()
df['Ratings']=ratings
df['Review_Text']=review_text
df['Summary']=title
df

,Ratings,Review_Text,Summary
0,5,Mannn this is just incredible üòç i was scared o...,Best in the market!
1,5,This laptop is soo good and I bought it after ...,Brilliant
2,5,Amazing laptop just great i bought this produc...,Brilliant
3,5,Brought this laptop after fair bit of research...,Terrific
4,5,11400 Has Much Better Single Core Performance ...,Mind-blowing purchase
...,...,...,...
32752,5,"Good quality bin budget segment, 1 HDMI, 1 VGA...",Perfect product!
32753,5,Good,Classy product
32754,5,Nice product! Used for my cctv purpose! Its st...,Classy product
32755,5,Good product,Perfect product!
32756,1,Third class,Terrible product

In [29]:
df.to_csv(r"E:\Ratings\flipkart_ratings.csv")

In [ ]:
driver.close()

# `Amazon`

In [57]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [39]:
### creating a list of Items, for which we have to scrap their ratings
List_of_items = ['laptops','Smartphones','smart watches' , 'Printers','Computer moniters', 
                 'Digital Watches', 'Router','Cameras','Trimmers','Keyboards']

In [40]:
title = []
review_text = []
ratings = []

In [41]:
 ## Now we will create a empty list and add all the  item's URLs present in page one.
Product_URL=[]

## Iterating items one by one in the loop and storing the urls
for i in List_of_items:
    ## fetching  the website
    driver.get("https://www.amazon.in/")
    time.sleep(3)
    
    srchbar = driver.find_element_by_id("twotabsearchtextbox")
    srchbar.send_keys(i)
    
    #clicking on search button
    
    driver.find_element_by_id("nav-search-submit-button").click()  
    time.sleep(1)
   
  
    tag=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']/a")
    for i in tag:
        Product_URL.append(i.get_attribute('href'))

In [42]:
## Priting the length of the list which contains all the product urls
print(len(Product_URL))

274

In [68]:
## Now we create five New empty list for every type of Star rating button's url.
Five_star_rating_URL=[]
Four_star_rating_URL=[]
Three_star_rating_URL=[]
Two_star_rating_URL=[]
One_star_rating_URL=[]

### Iterating all the product URL
for i in Product_URL[:250]:
    driver.get(i)
    time.sleep(1)
    for _ in range(2):
        ## scolling the cursor at down of the page
        driver.execute_script("window.scrollBy(0,6000)")
        time.sleep(1)
        # Clicking on "see all reviews" Button
        try:
            driver.find_element_by_xpath("//a[@class='a-link-emphasis a-text-bold']").click()
        except:
            pass
        
        try:
            tag1= driver.find_element_by_xpath("//table[@id='histogramTable']/tbody/tr[5]/td[2]/a")
            One_star_rating_URL.append(tag1.get_attribute('href'))
        except:
            pass
        try:
            tag2 = driver.find_element_by_xpath("//table[@id='histogramTable']/tbody/tr[4]/td[2]/a")
            Two_star_rating_URL.append(tag2.get_attribute('href'))
        except:
            pass
        try:
            tag3 = driver.find_element_by_xpath("//table[@id='histogramTable']/tbody/tr[3]/td[2]/a")
            for i in tag3:
                Three_star_rating_URL.append(tag3.get_attribute('href'))
        except:
            pass
        try:
            tag4 = driver.find_element_by_xpath("//table[@id='histogramTable']/tbody/tr[2]/td[2]/a")
            Four_star_rating_URL.append(tag4.get_attribute('href'))
        except:
            pass
        try:
            tag5 = driver.find_element_by_xpath("//table[@id='histogramTable']/tbody/tr[1]/td[2]/a")
            Five_star_rating_URL.append(tag5.get_attribute('href'))
        except:
            pass

In [69]:
print(len(One_star_rating_URL))
print(len(Two_star_rating_URL))
print(len(Three_star_rating_URL))
print(len(Four_star_rating_URL))
print(len(Five_star_rating_URL))

343
332
336
342
346

### "1" Star Ratings reviews

In [142]:
## As we know one_star_rating list contains only 1Star rating reviews so,
reviews_1=[]
Full_reviews_1=[]
for i in One_star_rating_URL:
    driver.get(i)
    time.sleep(1)
    
   
    try:
        tag=driver.find_elements_by_xpath('//div[@class="a-section a-spacing-none review-views celwidget"]/div/div/div/div/a[@data-hook="review-title"]')
        for i in tag:
            reviews_1.append(i.text)
    except NoSuchElementException:
        reviews_1.append('-')
    
    try:
        tag=driver.find_elements_by_xpath('//div[@class="a-section a-spacing-none review-views celwidget"]/div/div/div/div[@class="a-row a-spacing-small review-data"]')
        for i in tag:
            Full_reviews_1.append(i.text)
    except NoSuchElementException:
        Full_reviews_1.append('-')

In [147]:
print(len(reviews_1),len(Full_reviews_1))

3016 3016

In [148]:
## creating a list of Ratings:
ratings_1=[1]*3016

### "2" Star Rating Reviews:

In [153]:
## As we know two_star_rating list contains only 2 Star rating reviews so,
reviews_2=[]
Full_reviews_2=[]

for i in Two_star_rating_URL[:300]:
    driver.get(i)
    time.sleep(1)
    try:
        tag=driver.find_elements_by_xpath('//div[@class="a-section a-spacing-none review-views celwidget"]/div/div/div/div/a[@data-hook="review-title"]')
        for i in tag:
            reviews_2.append(i.text)
    except NoSuchElementException:
        reviews_2.append('-')
    
    try:
        tag=driver.find_elements_by_xpath('//div[@class="a-section a-spacing-none review-views celwidget"]/div/div/div/div[@class="a-row a-spacing-small review-data"]')
        for i in tag:
            Full_reviews_2.append(i.text)
    except NoSuchElementException:
        Full_reviews_2.append('-')

In [154]:
print(len(reviews_2),len(Full_reviews_2))

1678 1678

In [155]:
### creating 2 Star rating list:
ratings_2=[2]*1678

### "3" Star Rating Reviews:-

In [158]:
## As we know three_star_rating list contains only 3 Star rating reviews so,
reviews_3=[]
Full_reviews_3=[]

for i in Three_star_rating_URL:
    driver.get(i)
    time.sleep(1)
   
    try:
        tag=driver.find_elements_by_xpath('//a[@data-hook="review-title"]')
        for i in tag:
            reviews_3.append(i.text)
    except NoSuchElementException:
        reviews_3.append('-')
    
    try:
        tag=driver.find_elements_by_xpath('//div[@class="a-row a-spacing-small review-data"]//span[@data-hook="review-body"]')
        for i in tag:
            Full_reviews_3.append(i.text)
    except NoSuchElementException:
        Full_reviews_3.append('-')

In [164]:
print(len(reviews_3),len(Full_reviews_3))

2066 2066

In [165]:
## Creating a 3 Star rating list
ratings_3=[3]*2066

### "4" Star Rating Reviews

In [168]:
## As we know Four_star_rating list contains only 4 Star rating reviews so,
reviews_4=[]
Full_reviews_4=[]

for i in Four_star_rating_URL:
    driver.get(i)
    time.sleep(1)
   
    try:
        tag=driver.find_elements_by_xpath('//div[@class="a-section a-spacing-none review-views celwidget"]/div/div/div/div/a[@data-hook="review-title"]')
        for i in tag:
            reviews_4.append(i.text)
    except NoSuchElementException:
        reviews_4.append('-')
    
    try:
        tag=driver.find_elements_by_xpath('//div[@class="a-section a-spacing-none review-views celwidget"]/div/div/div/div[@class="a-row a-spacing-small review-data"]')
        for i in tag:
            Full_reviews_4.append(i.text)
    except NoSuchElementException:
        Full_reviews_4.append('-')

In [171]:
print(len(reviews_4),len(Full_reviews_4))

2834 2834

In [172]:
### Creating a list of 4 Star Reviews:
ratings_4=[4]*2834

### "5" Star Rating Reviews:

In [178]:
## As we know Five_star_rating list contains only 5 Star rating reviews so,
reviews_5=[]
full_reviews_5=[]

for i in Five_star_rating_URL:
    driver.get(i)
    time.sleep(1)
   
    try:
        tag=driver.find_elements_by_xpath('//a[@data-hook="review-title"]')
        for i in tag:
            reviews_5.append(i.text)
    except NoSuchElementException:
        reviews_5.append('-')
    
    try:
        tag=driver.find_elements_by_xpath('//div[@class="a-row a-spacing-small review-data"]//span[@data-hook="review-body"]')
        for i in tag:
            Full_reviews_5.append(i.text)
    except NoSuchElementException:
        Full_reviews_5.append('-')

In [ ]:
print(len(reviews_5),len(full_reviews_5))

In [ ]:
## Creating a 5 Star ratings reviews:
ratings_5=[5]*3000

### Adding All the Reviews and Ratings:

In [181]:
Reviews=reviews_1+reviews_2+reviews_3+reviews_4+reviews_5
Full_Reviews=Full_reviews_1+Full_reviews_2+Full_reviews_3+Full_reviews_4+Full_reviews_5
Ratings=ratings_1+ratings_2+ratings_3+ratings_4+ratings_5

## Creating A DataFrame:

In [182]:
new_df=pd.DataFrame()
new_df['Ratings']=Ratings
new_df['Review_Text']=Full_Reviews
new_df['Summary']=Reviews
new_df

,Ratings,Review_Text,Summary
0,1,"The MRP as per the product detail is Rs.18,000...",MRP MENTIONED ON THE COVER of MONITOR IS LESS ...
1,1,"You know, amazon service!\nSometimes it makes ...","A worst nightmare of a purchase I did, please ..."
2,1,Backlight bleeding issue worst display,Facing backlight bleeding
3,1,I have not used it so far but I am giving rati...,Only 21 inch not 24 inch
4,1,"1) There is only tilt adjustment, that too ver...",There is no height adjustment.
...,...,...,...
9589,4,I am writting this review after 3months of usa...,"Great Monitor, sleek and Compact"
9590,4,Got the product yesterday. Took about an hour ...,Great monitor for daily use/ programming
9591,4,Writing this review after a week's use... But ...,Excellent picture quality
9592,4,"It wouldn't install wirelessly, so I plugged i...",Don't forget to set refresh rate to 75Hz
9593,4,Black and white printing very good. Color is j...,Average

In [183]:
df_new.to_csv(r"E:\Ratings\Amazon_ratings.csv")

## Adding All Data

In [185]:
data=pd.concat([df,new_df],axis=0)
data

,Ratings,Review_Text,Summary
0,5,Mannn this is just incredible üòç i was scared o...,Best in the market!
1,5,This laptop is soo good and I bought it after ...,Brilliant
2,5,Amazing laptop just great i bought this produc...,Brilliant
3,5,Brought this laptop after fair bit of research...,Terrific
4,5,11400 Has Much Better Single Core Performance ...,Mind-blowing purchase
...,...,...,...
9589,4,I am writting this review after 3months of usa...,"Great Monitor, sleek and Compact"
9590,4,Got the product yesterday. Took about an hour ...,Great monitor for daily use/ programming
9591,4,Writing this review after a week's use... But ...,Excellent picture quality
9592,4,"It wouldn't install wirelessly, so I plugged i...",Don't forget to set refresh rate to 75Hz
9593,4,Black and white printing very good. Color is j...,Average

In [186]:
df.to_csv(r"E:\Ratings\Product_Ratings_Datasheet.csv")

In [ ]:
driver.close()